<div id="details" [hidden]="!details">
  <a class="icon is-pulled-right has-text-primary" href="#" (click)="closeDetails()">
    <i class="fas fa-times"></i>
  </a>

  <div *ngIf="details">
    <div class="card">
      <div class="card-image">
        <img [src]="user.avatar_url" alt="GitHub avatar URL">
      </div>

      <div class="card-content">
        <h1 class="title">{{user.name}}</h1>
        <h2 class="subtitle">{{user.login}}</h2>
        <p>{{user.bio}}</p>
      </div>
    </div>
  </div>

</div>

<div class="container has-text-centered">
  <div id="search">
    <h1 class="title has-text-primary ">Search for GitHub user</h1>

    <input type="text" placeholder="Enter username..." class="input is-primary is-rounded" #query>

    <button class="button is-primary is-outlined is-rounded" (click)="search(query.value)">Search</button>
  </div>

  <div id="results" class="columns is-multiline">

    <div *ngFor="let user of users" class="column" class="column is-one-quarter">

      <div class="card">

        <div class="card-header">{{user.login}}</div>

        <img class="image" src="{{user.avatar_url}}" alt="GitHub avatar URL">

        <button class="button is-primary is-inverted" (click)="showDetails(user.url)">Details</button>
      </div>
    </div>
  </div>
</div>
