body,
html {
  height: 100vh;
}

img {
  margin: 0 auto;
  display: block;
}

.container {
  padding-top: 50px;
}

#loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #00d1b2;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 300px;
  margin-left: -60px;
  z-index: 20;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

#search button {
  margin-top: 20px;
  width: 100%;
}

#results {
  margin-top: 25px;
}

#results .card button {
  width: 100%;
  border-radius: 0;
}

#results .title {
  display: inline-block;
  width: 100%;
  padding: 10px;
}

#results .card {
  transition: transform 0.2s;
  margin: 10px;
}

#results .card:hover {
  transform: scale(1.1)
}

#details {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#details .card {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -200px;
}

#details #close {
  margin: 40px;
  font-size: 50px;
}

#details .title {
  margin-top: 0;
}

#details .subtitle {
  margin-bottom: 0;
}

#details p {
  margin-top: 10px;
  margin-bottom: 10px;
}
